<h1> Mi primer aplicacion angular </h1>


<h2>Property Binding</h2>

<h3>Primera forma con llaves dobles </h3>
<p>{{parrafo}}</p>
<h3>Segunda forma con []</h3>

<p [style.color]="'green'" [innerText]="parrafo"></p>

<input type="text" [value]="parrafo">



<app-estilo></app-estilo>
<app-estilo></app-estilo>
<app-estilo></app-estilo>

<p> Mantiene sincronizadas las variables del componente en el html</p>

<br>
<br>
<br>
<br>
<br>

<p> Gracias por visitarnos </p>

<!-- // {{}} metodos y propiedades dentro del componente,-->
<h3> Desarrollado por {{saludar(usuario.nombre, usuario.apellido)}}</h3>

<!-- NO SE DEBE DECLARAR ASI  porque no se usa metodos al usar las dos llaves-->
<!--  <h3> {{usuario.nombre ,  usuario.apellido}}</h3>-->
<!--  <h3> {{usuario.nombre + "  " +  usuario.apellido}}</h3>-->
<h3> {{usuario.nombre + usuario.apellido}}</h3>

<!-- NO ES LA MEJOR FORMA DE USAR    <a href={{url}}>-->
<a [href]="url">
  <img [src] = "src"  alt="Logo angular">
</a>


