<div class="container">


  <div class="row-col-md-12">
    <nav class=" navbar navbar-inverse bg-inverse  navbar-toggleable-md navbar-light bg-faded">">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
              data-target="#navbarText"
              aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="container-fluid" id="navbarText">
        <ul class="navbar-nav mr-auto">
          <a class="navbar-brand" href="#">Mac</a>
          <a class="navbar-brand" href="#">iPad</a>
          <a class="navbar-brand" href="#">iPhone</a>
          <a class="navbar-brand" href="#">Watch</a>
          <a class="navbar-brand" href="#">TV</a>
          <a class="navbar-brand" href="#">Music</a>
          <a class="navbar-brand" href="#">Soporte</a>
        </ul>
      </div>
    </nav>
  </div>

  <div align="center" class="row-col-md-12">
    <nav class="nav nav-tabs">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">iTunes</a>
      </div>
      <ul class="nav nav-tabs">
        <a class="nav-link active" href="#">Descripcion</a>
        <a class="nav-link" href="#">Musica</a>
        <a class="nav-link" href="#">Videos</a>
        <a class="nav-link" href="#">Disabled</a>
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Descargar</button>
      </ul>
    </nav>
  </div>

  <div style="padding-left: 180px; padding-right: 180px; justify-content: center" class="row">
    <div style="padding-bottom: 50px; padding-top: 94px; width: auto; background-color: #fafafa"
      class="row">
      <div align="center" class="row-col-md-12">
        <h1>iTunes.</h1>
        <h1 style="color: lightslategrey; padding-bottom: 50px">Donde vive el entretenimiento.</h1>
        <p>iTunes es la mejor manera de organizar y disfrutar la música y las películas que ya tienes, o de comprar las
          que quieres tener. También es donde encuentras a Apple Music, que te brinda acceso ilimitado a millones de
          canciones, playlists curadas por expertos1 y la radio Beats 1, presentada por Zane Lowe y un equipo de
          reconocidos DJ. Disfruta en tu Mac o PC de todo el entretenimiento que iTunes tiene para ofrecer.</p>
      </div>
      <div class="row-col-md-12">
        <img style="width: 100%; padding-top: 50px"
             src="https://store.storeimages.cdn-apple.com/4974/as-images.apple.com/is/image/AppleInc/aos/published/images/M/AC/MACBOOKPRO/MACBOOKPRO?wid=1200&hei=630&fmt=jpeg&qlt=95&op_sharpen=0&resMode=bicub&op_usm=0.5,0.5,0,0&iccEmbed=0&layer=comp&.v=6xyk93"
             class="img-responsive"
             alt="MacBook">
      </div>
    </div>


    <div style="padding-bottom: 50px; padding-top: 50px; width: auto"
         class="row">
      <div align="center" class="row-col-md-12">
        <img style="width: 20%; padding-top: 50px"
             src="http://static.wixstatic.com/media/adfb7c_4becae2408a04b7eadafbdc8e30d99b0.png"
             class="img-responsive">
        <h2 style="color: lightslategrey; padding-bottom: 15px">La música no se detiene</h2>
        <p>Con Apple Music, puedes reproducir fácilmente la música que te gusta y la que te va a gustar. Descubre
          millones
          de canciones y disfruta de películas y contenido exclusivo que no encontrarás en ningún otro lugar. Una vez
          que
          te suscribes para una prueba gratis de tres meses2, puedes agregar toda la música que deseas a la colección
          que
          ya tienes, como las canciones que compraste en el iTunes Store y las importadas de tus CD. Nunca te perderás
          nada.
        </p>
      </div>
    </div>

    <div style="padding-bottom: 10px; padding-top: 1px; width: auto"
         align="center"
         class="row">
      <div class="row-col-md-12">
        <p style="border-style: hidden" class="page-link">Más información sobre Apple Music ></p>
        <p style="border-style: hidden" class="page-link">Pruébalo gratis por tres meses ></p>
        <img style="width: 50%; padding-top: 10px"
             src="http://brain-images.cdn.dixons.com/4/6/10118364/u_10118364.jpg"
             class="img-responsive">
      </div>
    </div>

    <div
      style="padding-bottom: 20px; padding-top: 20px; width: auto"
      class="row">
      <div align="center" class="row-col-md-12">
        <h2 style="color: lightslategrey; padding-bottom: 50px">La colección de películas que siempre quisiste ver</h2>
        <p>Con más de 85,000 películas para elegir, siempre hay algo interesante para ver en iTunes.3 Busca las
          películas
          que querías ver y disfrútalas en cualquier momento y lugar. Puedes reproducirlas o también descargarlas si vas
          a
          estar en un sitio sin conexión Wi-Fi</p>
      </div>

      <div align="center" class="row-col-md-12">
        <img style="width: 50%; padding-top: 50px"
             src="http://4827-presscdn.pagely.netdna-cdn.com/wp-content/uploads/2015/04/iTunes.jpg"
             class="img-responsive"
             alt="MacBook">
      </div>
    </div>
  </div>

</div>
