


<div class="container">

  <!--
  <input placeholder="Ingrese Texto" type="text" [value]="nombre" #nombreEtiqueta>



  <!--Banana box model

  <input placeholder="Ingrese Texto" type="text" [(ngModel)]="nombre" >
  {{nombre}}
  <img [src]="nombre" alt="">
  <br>
  <button class="btn btn-primary" (click)="cambiarNombre()">Cambiar valor</button>
  <button (blur)="cambiarOtroNombre()">Clickeame</button>
  <h1 (click)="cambiarNombreInput(nombreEtiqueta)">Lenin a Rafico</h1>
  -->




  <h1>Bienvenidos</h1>
  <h2>Usuarios Conectados</h2>

  <div class="row">
    <div class="col-sm-4" *ngFor="let usuario of arregloUsuarios">
      <div class="card" style="width: 20rem;">
        <div class="card-block">
          <h4 class="card-title">{{usuario.nombre}}</h4>
          <p class="card-text">{{usuario.nombre}} + {{usuario.apellido}}</p>
          <a href="#" class="btn btn-primary btn-block">GIr a perfil</a>
        </div>
      </div>
    </div>
  </div>

  <div *ngFor="let usuario of arregloUsuarios">
    <ul>
      <li>{{usuario.nombre}} </li>
    </ul>
  </div>






</div>





















  <!--
  ------------------------------------------------
   .row>.col
    <div class="row">
      <!-- col-tamaño-valor  -->
  <!--
    <div style="background-color: red"
         class="col-sm-6">
      ROJO
    </div>
    <div style="background-color: red"
         class="col-sm-6">
      ROJO
    </div>


    <div style="background-color: blue"
         class="col-md-8">
      AZUL
    </div>
    <div style="background-color: blue"
         class="col-md-4">
      AZUL
    </div>


    <div style="background-color: yellow"
         class="col-lg-10">
      AMARILLO
    </div>
    <div style="background-color: yellow"
         class="col-lg-2">
      AMARILLO
    </div>


    <div style="background-color: green"
         class="col-xl-5">
      VERDE
    </div>
    <div style="background-color: green"
         class="col-xl-7">
      VERDE
    </div>
  </div>
<!--
<br>
<br>
<br>
<br>



<div class="row">

  <div class="col-md-6">
    <div style="font-size: x-small"
         class="row">
      <div class="col-sm-2">Bootstrap</div>
      <div class="col-sm-2">Documentation</div>
      <div class="col-sm-2">Examples</div>
      <div class="col-sm-2">Themes</div>
      <div class="col-sm-2">Expo</div>
      <div class="col-sm-2">Blog</div>
    </div>
  </div>

  <div class="col-md-6">

  </div>

  <br>
  <br>
  <br>

  <div style="background-color: purple; color: white; font-size: xx-large"

       class="row">

     Bootstrap is the most popular HTML, CSS, and JS framework in the

      world for building responsive, mobile-first projects on the web.
     Download Bootstrap

  </div>

  <div class="row">


  </div>

</div>



</div>



-->






  <!-- ejemplos de emmet

  <p class="rojo"></p>
  <p id="verde"></p>
  <div class="verde"></div>

  <img src="" alt="" class="imagen-responsive">
  <img src="" alt="" class="imagen-responsive">

  <h1><a href=""></a></h1>

  <ol>
    <li4></li4>
    <li4></li4>
    <li4></li4>
    <li4></li4>
  </ol>


  <h2 class="clase1 clase2 clase3"></h2>

  <div class="fila">
    <div class="columna"></div>
    <div class="columna"></div>
    <h1></h1>
  </div>

  -->


